<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.dao.CommentsMapper">
    <resultMap id="BaseResultMap" type="com.lin.po.Comments">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="PARENT_ID" jdbcType="BIGINT" property="parentId"/>
        <result column="LIFE_ID" jdbcType="BIGINT" property="lifeId"/>
        <result column="CUSTOMER_ID" jdbcType="BIGINT" property="customerId"/>
        <result column="CONTENTS" jdbcType="VARCHAR" property="contents"/>
        <result column="THUMBSUP_TIMES" jdbcType="INTEGER" property="thumbsupTimes"/>
        <result column="CREATE_ID" jdbcType="BIGINT" property="createId"/>
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime"/>
        <result column="UPDATE_ID" jdbcType="BIGINT" property="updateId"/>
        <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>

    <resultMap id="TreeResultMap" type="com.lin.po.Comments">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="PARENT_ID" jdbcType="BIGINT" property="parentId"/>
        <result column="LIFE_ID" jdbcType="BIGINT" property="lifeId"/>
        <result column="CUSTOMER_ID" jdbcType="BIGINT" property="customerId"/>
        <result column="CONTENTS" jdbcType="VARCHAR" property="contents"/>
        <result column="THUMBSUP_TIMES" jdbcType="INTEGER" property="thumbsupTimes"/>
        <result column="CREATE_ID" jdbcType="BIGINT" property="createId"/>
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime"/>
        <result column="UPDATE_ID" jdbcType="BIGINT" property="updateId"/>
        <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime"/>
        <collection column="id" property="nodes" javaType="java.util.ArrayList"
                    ofType="com.lin.po.Comments" select="commentsByPid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        ID, PARENT_ID, LIFE_ID, CUSTOMER_ID, CONTENTS, THUMBSUP_TIMES, CREATE_ID, CREATE_TIME,
        UPDATE_ID, UPDATE_TIME
    </sql>
    <select id="comments" parameterType="java.util.Map" resultMap="TreeResultMap">
        select
        <include refid="Base_Column_List"/>
        from cs_comments
        where PARENT_ID=0 and LIFE_ID= #{lifeId,jdbcType=BIGINT}
        ORDER BY UPDATE_TIME DESC
        Limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>

    <select id="commentsByPid" resultMap="TreeResultMap">
      select
      <include refid="Base_Column_List"/>
      from cs_comments
      where PARENT_ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="commentscount" parameterType="java.lang.Long" resultType="INTEGER">
      select
      count(ID)
      from cs_comments
      where PARENT_ID=0 and LIFE_ID= #{lifeId,jdbcType=BIGINT}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        select
        <include refid="Base_Column_List"/>
        from cs_comments
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        delete from cs_comments
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.lin.po.Comments">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        insert into cs_comments (ID, PARENT_ID, LIFE_ID,
        CUSTOMER_ID, CONTENTS, THUMBSUP_TIMES,
        CREATE_ID, CREATE_TIME, UPDATE_ID,
        UPDATE_TIME)
        values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{lifeId,jdbcType=BIGINT},
        #{customerId,jdbcType=BIGINT}, #{contents,jdbcType=VARCHAR}, #{thumbsupTimes,jdbcType=INTEGER},
        #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=VARCHAR}, #{updateId,jdbcType=BIGINT},
        #{updateTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.lin.po.Comments">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        insert into cs_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="lifeId != null">
                LIFE_ID,
            </if>
            <if test="customerId != null">
                CUSTOMER_ID,
            </if>
            <if test="contents != null">
                CONTENTS,
            </if>
            <if test="thumbsupTimes != null">
                THUMBSUP_TIMES,
            </if>
            <if test="createId != null">
                CREATE_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateId != null">
                UPDATE_ID,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="lifeId != null">
                #{lifeId,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="contents != null">
                #{contents,jdbcType=VARCHAR},
            </if>
            <if test="thumbsupTimes != null">
                #{thumbsupTimes,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lin.po.Comments">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        update cs_comments
        <set>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="lifeId != null">
                LIFE_ID = #{lifeId,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="contents != null">
                CONTENTS = #{contents,jdbcType=VARCHAR},
            </if>
            <if test="thumbsupTimes != null">
                THUMBSUP_TIMES = #{thumbsupTimes,jdbcType=INTEGER},
            </if>
            <if test="createId != null">
                CREATE_ID = #{createId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateId != null">
                UPDATE_ID = #{updateId,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lin.po.Comments">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Apr 20 20:36:41 CST 2022.
        -->
        update cs_comments
        set PARENT_ID = #{parentId,jdbcType=BIGINT},
        LIFE_ID = #{lifeId,jdbcType=BIGINT},
        CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
        CONTENTS = #{contents,jdbcType=VARCHAR},
        THUMBSUP_TIMES = #{thumbsupTimes,jdbcType=INTEGER},
        CREATE_ID = #{createId,jdbcType=BIGINT},
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
        UPDATE_ID = #{updateId,jdbcType=BIGINT},
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>