<!-- Card -->
<div class="card border-0">
    <div class="card-body">

        <div class="row align-items-center gx-5">
            <div class="col-auto">
                <a href="#" class="avatar @@online">
                    
                    <img class="avatar-img" src="@@avatar" alt="">
                    
                    
                    <span class="avatar-text">@@abbr</span>
                    
                </a>
            </div>

            <div class="col">
                <h5><a href="#">@@name</a></h5>
                <p>@@status</p>
            </div>

            <div class="col-auto">
                <!-- Dropdown -->
                <div class="dropdown">
                    <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New message</a></li>
                        <li><a class="dropdown-item" href="#">Edit contact</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="#">Block user</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Card -->