<div class="dropdown">
    <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @@include("../../assets/img/icons/more-vertical.svg")
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <span class="me-auto">Edit</span>
                <div class="icon">
                    @@include("../../assets/img/icons/edit-3.svg")
                </div>
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <span class="me-auto">Reply</span>
                <div class="icon">
                    @@include("../../assets/img/icons/corner-up-left.svg")
                </div>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center text-danger" href="#">
                <span class="me-auto">Delete</span>
                <div class="icon">
                    @@include("../../assets/img/icons/trash-2.svg")
                </div>
            </a>
        </li>
    </ul>
</div>